/* This main css file contains the default rules and is geared toward the small/phone view */

* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

h1 {
    font-size: 20px;
    color: blue;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    padding 10px;
}

.grid-item{
    padding:20px;
    font-size: 14px;
    text-align: center;
}

.grid-container {
    display:flex;
    flex-flow: wrap;
    justify-content: center;
    flex-wrap: wrap;
    grid-gap: 5px;
}

.grid-item{
    flex: 25%;
    max-width:25%;
    padding: 0 4px;
}

.grid-item img{
    margin-top: 8px;
    vertical-align: middle;
    grid-column-gap: 20px;
}
