@media only screen and (min-width: 64em) {
  /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */
    
    /*----------MAIN----------*/
    main {
        padding: 0;
    }
    
  article p.town-article img { width: 29.333%; }
  
}

nav {
    display: inline;
}

nav ul {
    list-style-type: none;
    margin: 0;
    pading: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    padding: .6rem 1rem;
}

div#gallery {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
}

div#gallery figure img:hover {
    box-shadow: 5px 5px 10px gray;
}