@media only screen and (min-width: 37.5em) {
  /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */

body {
    align-content: center;
    }
    
main {
    display: inline-block;
    text-align: center;
    margin: auto;
    max-width: 600px;
    }
    
nav {
    display: inline;
    }

nav button {
      display:none;
    } /* hamburger button does not need to be shown */

    
nav.ul.hide {
    display: block;
    }
    
nav ul {
    display:block;
    }

#tenDayforecast {
    display: inline;
    } /* show the 10-day forecast with the medium view and up */
    
  
article p.town-article img {
    width: 62.666%; float:right;
 }  /* responsive images */


ul {
    list-style-type: none;
    margin: 0;
    overflow:hidden;
}

li {
    float: left;
}

li a{
    display: block;
    color: #fff;
    text-align: center;
    text-decoration: none;
}

li a:hover {
    background-color: #96B460;
}


div #gallery {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
}

}