/* This main css file contains the default rules and is geared toward the small/phone view */

* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */
@media only screen and (min-width: 64em) {
    
    body {
        font-size: 16px;
    }
    
article p.town-article img {
      width: 29.333%;
}

nav {
    display: inline;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: .6rem 1rem;
}

nav ul li a:hover {
    background-color: #96B460;
}
    
main {
    /* display: inline-block;*/
    /*text-align: center;*/
    padding: 0;
    max-width: 1200px;
    text-align: center;
}
    
main .weathsum{
    padding: 2px;
    border-style:solid;
    border-width: 8px;
    border-color: gray;
    width: 100%;
}

main section{
    grid-template-columns: 1fr 1fr;
}

div#gallery {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
}

div#gallery figure img:hover {
    box-shadow: 5px 5px 10px gray;
}

footer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    width: 100%;
    background-color: #326F8B;
    color: #fff;
    padding: 0px;
}

footer h4 {
    margin: 8px;
    font-size: 18px;
}
footer aside {
    text-align: center;
}

footer > p {
    color: white;
    text-align: center;
    font-size: 14;  
} 