/* This main css file contains the default rules and is geared toward the small/phone view */

* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

body {
  font-size: 16px;
  /* Declare the base font-family - from google font api or other */
}

header, nav, main, footer { /* the comma means apply the following CSS declarations to all of the listed elements */
  /* Declare the maximum width and other main element rules to limit the stretch on wide views */
}

header {}
header h1 {}
header img {}
header .subheading {}

nav {}
nav button {}

nav ul {
    list-style-type: none;
    margin:0;
    padding:0;
    overflow:hidden;
    }

nav ul li {
    float: left;
    }

nav ul li a {
    display: block;
    padding: 8px;
    background-color: #326F8B;
}

nav ul li.active a {
    color:darkgray;
}

nav ul li a:hover {
    background-color:white;
    color:#96B460;
}

main {}
main h2 {
    color:#326F8B;
}

.highlow {
    float: left; 
}

.current {
    
}

.conditions {
    float:right;
}

table, th, td {
    border: 1px solid black;
}

th {
    background-color: darkgray
}

article p.town-article img {  /* This structure refers to img elements that are the posterity of paragraph elements within artcle elements */
  width: 50%; /* fill the page in the small/phone view */
  margin: 8px;
  float:right;
}

footer {
    display: block;
    padding: 8px;
    color:white;
    background-color: #326F8B;
}
footer aside {}
footer>p {
    
} /* This structure refers to p elements that are direct children of the footer element */

/* Other Class Selectors */