table {
    text-align: center;
    font-family: Ubuntu, sans-serif;
    box-shadow: 9px 9px 9px #628CA6;
    background-color: lightgray;
}

th, td{
    padding: 8px;
}
.header {
    font-size:24px;
    background-color: #7FB9C2;
    /*margin: 0;
    padding: 50px;*/
}

.col-title, #novgoal {
    background-color: #628CA6;
    color: white;
}

.data {
    background-color: #E7F0ED;
}

tbody tr:nth-child(even) {
    background-color: #E7FFED;
}

#blackfri {
    font-style: italic;
}

.footer {
    font-size: 12px;
    background-color: #7FB9C2;
}
