table {
    text-align: center;
    font-family: Ubuntu, sans-serif;
    border: 1px solid lightgray;
}

.header {
    font-size:26px;
    background-color: #7fb9c2;
    margin: 0;
}

.col-title {
    
}